APP_URL=https://ruagentic.com
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
STRIPE_AD_PRICE_PLATINUM=
STRIPE_AD_PRICE_GOLD=
STRIPE_AD_PRICE_SILVER=
RESEND_API_KEY=
RESEND_FROM=RUAGENTIC <notifications@mail.ruagentic.com>
SUPPORT_EMAIL=
BUSINESS_NAME=RUAGENTIC
CRON_SECRET=
