{
  "openapi": "3.1.0",
  "info": {
    "title": "RUAGENTIC Directory API",
    "version": "1.0.0",
    "description": "Read-only public discovery for MCP servers, clients, and agentic products."
  },
  "servers": [
    {
      "url": "https://ruagentic.com"
    }
  ],
  "paths": {
    "/api/v1/listings": {
      "get": {
        "operationId": "searchListings",
        "summary": "Search public directory listings",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["server", "client", "product"]
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 5000,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching listings and pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["version", "total", "listings"],
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "nextOffset": {
                      "type": ["integer", "null"]
                    },
                    "listings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Listing"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/listings/{slug}": {
      "get": {
        "operationId": "getListing",
        "summary": "Read a public listing",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,150}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The published listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "listing": {
                      "$ref": "#/components/schemas/Listing"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Listing not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Listing": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "kind",
          "summary",
          "homepage",
          "source",
          "sourceUrl"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": ["server", "client", "product"]
          },
          "summary": {
            "type": "string"
          },
          "homepage": {
            "type": "string",
            "format": "uri"
          },
          "source": {
            "type": "string"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          },
          "observedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
